.button{
    background-color: gold;
    border-radius: 5px;
    min-width: 70px;
    min-height: 15px;
    padding: 5px;
}
/*.button:disabled{
    background-color:darkgoldenrod;
}*/
.button:hover{
    font-weight: bold;
}
.dis{
    background-color:darkgoldenrod;
}
