
.counter{

    background-color:cadetblue;
    max-width: 300px;
    max-height: 300px;
    min-width: 300px;
    min-height: 300px;
    border: 2px solid darkgoldenrod;
    border-radius: 5px;
    margin-left: 30px;

}

.display{

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5px;
    min-height: 200px;
    margin: 5px;
    border-radius: 5px;
    border: 2px solid black;
}
.count{
    font-weight: bold;
    color: gold;
    margin: 0 auto;
 }
.inputArea{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 50px;
    border: 2px solid black;

    margin: 5px;
    border-radius: 5px;
}
.limit{
    color: red;
}
